@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	background-color: white;
	background-image:
		linear-gradient(to right, var(--color-blue-100) 1px, transparent 1px),
		linear-gradient(to bottom, var(--color-blue-100) 1px, transparent 1px);
	background-size: 20px 20px;
}

.lessons-box {
	background-image: linear-gradient(30deg, oklch(47.6% 0.114 61.907 / 0.2) 0%, transparent 100%);
}
